Source: cunittest
Maintainer: Daniel Fiser <danfis@danfis.cz>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 7)

Package: cunittest
Architecture: any
Depends: ${misc:Depends}, python
Description: A simple unit testing framework for handling automated tests in C.
 CU provides a simple interface for defining unit tests using macros. Each
 test suite runs in separate process - test suites don't influence each
 other and any failure (such as segfault) does not break up whole test. CU
 also provides script for regression tests based on output of test suites.

